<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Huaqi.data.TradeMapper">

    <insert id="addTrade" parameterType="com.example.Huaqi.po.TradePO">
        insert  into  trade(trade_type, start_time, end_time, status, profit, trade_name, deal_num)
        values (#{tradeType},#{startTime},#{endTime},#{status},#{profit},#{tradeName},#{dealNum})
    </insert>

    <select id="getCompletedTrade" resultMap="Trade">
        select * from trade where status!='Pending'
    </select>

    <select id="getTradeById" resultMap="Trade">
        select * from trade where id=#{id}
    </select>

    <select id="getUncompletedTradeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select id from trade where status='Pending'
    </select>

    <update id="updateTrade" parameterType="com.example.Huaqi.po.TradePO">
        update trade set
        trade_type=#{tradeType},
        start_time=#{startTime},
        end_time=#{endTime},
        status=#{status},
        profit=#{profit},
        trade_name=#{tradeName},
        deal_num=#{dealNum}
        where id=#{id}
    </update>




    <resultMap id="Trade" type="com.example.Huaqi.po.TradePO">
        <result column="trade_type" property="tradeType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="trade_name" property="tradeName"/>
        <result column="deal_num" property="dealNum"/>
    </resultMap>
</mapper>